In [1]:
import pandas as pd

In [2]:
drinks_df = pd.read_csv('../data/drinks-by-country.csv', index_col = 'country')
drinks_df.head(3)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa

# LOC

- Label Based
- Inclusive of both limits

In [3]:
drinks_df.loc[:'Angola', :]

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa

In [4]:
drinks_df.loc['Albania':'Angola', 'beer_servings':'spirit_servings']

         beer_servings  spirit_servings
country
Albania             89              132
Algeria             25                0
Andorra            245              138
Angola             217               57

In [5]:
drinks_df.loc['Algeria']

beer_servings                       25
spirit_servings                      0
wine_servings                       14
total_litres_of_pure_alcohol       0.7
continent                       Africa
Name: Algeria, dtype: object

In [6]:
drinks_df.loc[['Algeria', 'Angola']]

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Algeria,25,0,14,0.7,Africa
Angola,217,57,45,5.9,Africa

# LOC vs DataFrame

### LOC is efficient, because retrieval happens in 1 go

In [7]:
drinks_df[drinks_df.continent == 'Africa'].wine_servings.head()

country
Algeria         14
Angola          45
Benin           13
Botswana        35
Burkina Faso     7
Name: wine_servings, dtype: int64

In [8]:
drinks_df.loc[drinks_df.continent == 'Africa', 'wine_servings'].head()

country
Algeria         14
Angola          45
Benin           13
Botswana        35
Burkina Faso     7
Name: wine_servings, dtype: int64

# ILOC

- Index Based
- It's not inclusive of it's upper limit

In [9]:
drinks_df.iloc[:5, :]

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa

In [10]:
drinks_df.iloc[:, -1].value_counts()

Africa           53
Europe           45
Asia             44
North America    23
Oceania          16
South America    12
Name: continent, dtype: int64