In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'id': [100, 101, 102, 103], 'quality': ['good', 'very good', 'good', 'excellent']})
df

    id    quality
0  100       good
1  101  very good
2  102       good
3  103  excellent

# Incorrect O/P

In [3]:
df.sort_values('quality')

    id    quality
3  103  excellent
0  100       good
2  102       good
1  101  very good

# Magic

In [4]:
df['quality'] = df.quality.astype('category', categories = ['good', 'very good', 'excellent'], ordered = True)

# Correct O/P

In [5]:
df.sort_values('quality')

    id    quality
0  100       good
2  102       good
1  101  very good
3  103  excellent

In [6]:
df.quality

0         good
1    very good
2         good
3    excellent
Name: quality, dtype: category
Categories (3, object): [good < very good < excellent]

In [7]:
df.loc[df.quality > 'good']

    id    quality
1  101  very good
3  103  excellent