In [1]:
import pandas as pd

In [2]:
ufo_df = pd.read_csv('../data/ufo.csv')
ufo_df.head(3)

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

# Sample Selection Helper

In [3]:
ufo_df.sample(n = 3, random_state = 42)

               City Colors Reported Shape Reported State              Time
217    Norridgewock             NaN           DISK    ME   9/15/1952 14:00
12282         Ipava             NaN       TRIANGLE    IL   10/1/1998 21:15
17933     Ellinwood             NaN       FIREBALL    KS  11/13/2000 22:00

In [4]:
ufo_df.sample(frac = 0.0001, random_state = 42)

               City Colors Reported Shape Reported State             Time
217    Norridgewock             NaN           DISK    ME  9/15/1952 14:00
12282         Ipava             NaN       TRIANGLE    IL  10/1/1998 21:15

# Splitter

In [5]:
X_train = ufo_df.sample(frac = 0.75, random_state = 42)

In [6]:
X_test = ufo_df.loc[~ ufo_df.index.isin(X_train.index), :]

In [7]:
len(X_train) / len(ufo_df)

0.750013705388959

In [8]:
len(X_test) / len(ufo_df)

0.24998629461104105